<h2>[ngStyle]</h2>

<p [style.font-size]="30 + 'px'">Valor fixo na tela</p>

<p [style.font-size]="valorFonte">Método da classe componente sendo referenciado no template</p>

<button (click)="incrementar()">Incrementar</button>


<!-- Validação Ternária abaixo -->

<p [style.font-size]="validaFonte ? 'x-large' : 'smaller'"
	[style.color]="validaCor ? 'red' : 'blue'">Muda valor com condição ternária</p>

<button (click)="mudaFonte()">Muda a Fonte</button>

<button (click)="mudaCor()">Muda a Cor</button>


<!-- Usando ngStyle abaixo no lugar de style binding -->
<h3>Exercício</h3>

<p [ngStyle]="{'color': 'tomato'}">valor fixo na tela</p>
<p [ngStyle]="{'font-size': valorFonte}">método da classe componente sendo referenciado no template</p>

<button (click)="incrementar()">Maior</button>

<button (click)="incrementar()">Maior</button>
<p [ngStyle]="{'font-size': validaFonte ? 'x-large' : 'smaller',
'color': validaCor ? 'red' : 'blue'}">muda valor com
condição ternária</p>
<button (click)="mudaFonte()">mudaFonte</button>
<button (click)="mudaCor()">mudaCor</button>