<!--<p>lista-pessoa works!</p>-->

<h2>Lista de Pessoas</h2>

<label for="nome">Digite seu nome</label>
<input type="text" id="nome" value="Alan Andrade" [(ngModel)]="nome">

<button (click)="enviarNome()">Enviar Nome</button> <!--Evento binding - envio dado do input para o componente(classe)-->

<p>{{nome}}</p>

<!--Two-way data binding = Se for atualizado pelo template, o valor vai para a classe
do componente; se for atualizado pela classe do componente, o valor é enviado para o template-->

<ul>
	<li *ngFor="let pessoa of pessoas">
		{{pessoa}}
	</li>
</ul>